{
  "plugins": ["prettier-plugin-prisma"],
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
